{% extends 'base.html.twig' %}

{% block body %}
    <h2>Register</h2>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.password.first) }}
        {{ form_row(registrationForm.password.second) }}
    {{ form_end(registrationForm) }}
{% endblock %}